<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitHub Kullanıcı Arama</title>
    <link rel="stylesheet" href="user.css">
</head>
<body>
    <nav>
        <div class="logo">
            <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="GitHub Logo" />
            <div>GitHub User Analytics</div> 
        </div>
        <ul>
            <li><a href="http://localhost:4000">Genel Bakış</a></li>
            <li><a href="/user-analysis">Kullanıcı Analizi</a></li>
        </ul>
    </nav>

    
    <div class="container">

        <div class="main-text-flex">
            <h1><span>GitHub</span> Kullanıcılarına Bakın</h1>

            <form id="search-form">
                <input type="text" id="username" placeholder="Kullanıcı adı girin" required>
                <button class="btn" type="submit">Kullanıcıyı Ara</button>
            </form>

            <div id="user-data"></div>
        </div>

        <h2>En Çok Takip Edilen Github Kullanıcıları</h2>
        <div id="table">
            <table>
                <thead>
                    <tr>
                        <th>Profil Resmi</th>
                        <th>Kullanıcı Adı</th>
                        <th>Hakkında</th>
                        <th>Takipçi Sayısı</th>
                        <th>Takip Edilen</th>
                        <th>Profil Linki</th>
                    </tr>
                </thead>
                <tbody id="userTableBody">
                    <!-- Burada kullanıcı verileri dinamik olarak ekleniyor -->
                </tbody>
            </table>
        </div>
    </div>

    <footer>
        <div class="footer-container">
            <p>GitHub Rapor Projesi - Tüm hakları saklıdır © 2024</p>
            <div class="social-media">
                <a href="https://github.com" target="_blank">GitHub</a> |
                <a href="#">İletişim</a> |
                <a href="#">Hakkında</a>
            </div>
        </div>
    </footer>

    <script src="user.js"></script>
</body>
</html>
