*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --head-font:"Satoshi", sans-serif;
    --body-font:"Satoshi", sans-serif; 
    --bg-color:#fff;
    --font-color:#151B23;

}


body {
    font-family: var(--body-font);
    background-color: var(--bg-color);
    color: var(--font-color);
    color: var(--font-color);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 10px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.logo div {
    font-size: 20px;
    font-weight: 800;
    letter-spacing: -0.5px;
}

.logo img {
    height: 30px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
    padding: 0;
    margin: 0;
}

nav a {
    color: var(--font-color);
    text-decoration: none;
    font-weight: 500;
}

nav a:hover {
    opacity: 0.9;
}

.container {
    width: 85%;
    margin: 0 auto;
}

.main-text-flex {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 7rem;
    display: flex;
    gap: 15px;
}



h1 {
    margin-bottom: 20px;
    font-size: 95px;
    line-height: 100%;
    width: 80%;
    text-align: center;
    font-family: var(--head-font);
    padding-bottom: 1rem;
    color: var(--font-color);
}

span {
    background: linear-gradient(90deg, #2fbb4f, #0d74e7, #2fbb4f);
    background-size: 200% 200%;
    animation: renkGecisi 10s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
}


@keyframes renkGecisi {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
  }


p {
    font-size: 24px;
    font-weight: 400;
    width: 80%;
    text-align: center;
    padding-bottom: 3rem;
    font-family: "Poppins" sans-serif;
    color: var(--font-color);
    opacity: 0.7;
}


.btn {
    padding: 1rem;
    border: 1px solid 	#151B23;
    background-color: 	#151B23;
    color: #fff;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 200px;
    height: 55px;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
}

.btn:hover {
    opacity: 0.95;
    cursor: pointer;
}

h2 {
    margin-bottom: 20px;
    padding-top: 7rem;
    color: 	#0d74e7;  
    font-family: var(--head-font);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    border-radius: 20px;
    text-align: left;
    border-collapse: separate; /* Hücrelerin arasında boşluk bırakır */
    border-spacing: 0; /* Hücreler arasındaki boşluğu sıfırlar */
    border-radius: 10px; /* Köşeleri yuvarlatır */
    overflow: hidden; /* Kenarlarda taşmayı engeller */
}

th, td {
    padding: 12px;
    border: 1px solid #D1D9E0;
}

th {
    background-color: #F6F8FA;
    color: var(--font-color);

}


/* Hover efekti */
tr:hover {
    background-color: #F6F8FA;
}

a {
    color: 	#0d74e7;
    text-decoration: none;
}

a:hover {
    opacity: 0.8;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
}

footer {
    text-align: center;
    padding: 30px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 100px;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}

.social-media a {
    color: var(--font-color);
    text-decoration: none;
    margin: 0 15px;
}

/* Responsive Tasarım */
@media (max-width: 768px) {
    .container {
        width: 95%;
    }

    nav ul {
        display: block;
        text-align: center;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    table {
        overflow-x: auto;
        display: block;
        width: 100%;
    }
}
